/*ADD GOGGLE FONT*/

:root {
  --clr-blue: #4458ff;
  --clr-black: #000;
  --clr-white: #ffff;
  --clr-gray: #7d7987;
  --clr-dark-blue: #04224b;
  --clr-dark-purple: #1f1534;
  --font-family-mulish: "Mulish", sans-serif;
}
