/*ADD GOGGLE FONT*/

:root {
  --clr-blue: #4458ff;
  --clr-black: #000;
  --clr-white: #ffff;
  --clr-gray: #7d7987;
  --clr-dark-blue: #04224b;
  --clr-dark-purple: #1f1534;
  --font-family-mulish: "Mulish", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: var(--transition-default);
}

a:focus,
a:hover {
  color: unset;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

img,
object,
embed,
video {
  max-width: 100%;
}

body {
  font-family: var(--font-family-mulish);
  line-height: 1.6;
  height: 100%;
  font-weight: 300;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: calc(1273px - 32px);
}

/*text stylings and colors*/
.text {
  color: var(--clr-gray);
  mix-blend-mode: normal;
  font-weight: 300;
  font-style: normal;
}

.text-blue {
  color: var(--clr-blue);
}
.text-black {
  color: var(--clr-black);
}
.text-white {
  color: var(--clr-white);
}
.text-gray {
  color: var(--clr-gray);
}
.text-dark-purple {
  color: var(--clr-dark-purple);
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

/*BACKGROUND COLORS*/

-bg-transparent {
  background-color: transparent;
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-blue {
  background-color: var(--clr-blue);
}

.bg-gray {
  background-color: var(--clr-gray);
}
.bg-dark-purple {
  background-color: var(--clr-dark-purple);
}

-op-01 {
  opacity: 0.1;
}
-op-02 {
  opacity: 0.2;
}
-op-03 {
  opacity: 03;
}
-op-04 {
  opacity: 04;
}
-op-05 {
  opacity: 05;
}
-op-06 {
  opacity: 06;
}
-op-07 {
  opacity: 07;
}
-op-08 {
  opacity: 08;
}
-op-09 {
  opacity: 09;
}

/*FONT WEIGHTS*/
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}
